{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'website/bootstrap/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'website/bootstrap/css/bootstrap-responsive.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'website/style.css' %}" />
	<script type="text/javascript" src="{% static 'website/js/jquery-1.10.2.min.js' %}"></script>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">Website</a>
		</div>
	</div>
</div> <!-- /navbar -->

<div class="container">
