{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'website/style.css' %}" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">Website</a>
			{% if is_logged_in %}
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li{% if current_page == 'home' %} class="active"{% endif %}><a href="/">Home</a></li>
					<li{% if current_page == 'settings' %} class="active"{% endif %}><a href="settings">Settings</a></li>
					<li><a href="logout">Logout</a></li>
				</ul>
			</div><!--/.nav-collapse -->
			{% endif %}
		</div>
	</div>
</div> <!-- /navbar -->

<div class="container">
